img{
    max-width: 100%;
    height: auto;
}
.navbar-brand{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
section{
    padding-top: 50px;
}
.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}
footer{
    padding: 50px 0;
}